<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 Tango Controls
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
    <jmxConfigurator/>

    <property name="layoutPattern" value="%p %d [%t - %X{deviceName} - %C{1}] %logger{36}.%M:%L - %m%n"/>
    <property name="log.level" value="${LOG_LEVEL:-DEBUG}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${layoutPattern}</pattern>
        </layout>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>deviceName</Key>
            <DefaultValue>UNKNOWN_DEVICE_NAME</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${deviceName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/${deviceName}.log</file>
                <Append>true</Append>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${LOG_HOME}/${deviceName}.log.%i</fileNamePattern>
                    <minIndex>1</minIndex>
                    <maxIndex>3</maxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>${layoutPattern}</pattern>
                    </layout>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SIFT"/>
    </appender>

    <logger name="org.apache" level="ERROR"/>
    <logger name="org.jacorb" level="ERROR"/>
    <logger name="org.tango" level="ERROR"/>
    <logger name="org.tango.rest" level="${log.level}"/>
    <logger name="org.tango.web" level="${log.level}"/>
    <logger name="org.tango.web.server.cache.SimpleBinaryCache" level="INFO"/>
    <logger name="org.quartz" level="ERROR"/>
    <logger name="net.sf.ehcache" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>