<html>
<head>
    <link rel="stylesheet" href="lib/codemirror.css">
</head>
<body>
    <form action="${uri}" method="post">
        <textarea id="script" name="source">
            ${text}
        </textarea>
        <input type="submit" value="Execute!"/>
    </form>
    <hr/>
    <p id="result">
        ${result}
    </p>
    <script src="lib/codemirror.js"></script>
    <script src="lib/mode/javascript/javascript.js"></script>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("script"), {
            lineNumbers: true,
            mode: "text/javascript"
        });
    </script>
</body>
</html>