<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <listener>
        <listener-class>hzg.wpn.mtango.TangoProxyLauncher</listener-class>
    </listener>

    <filter>
        <filter-name>TangoMapper</filter-name>
        <filter-class>hzg.wpn.mtango.TangoDeviceMapper</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TangoMapper</filter-name>
        <servlet-name>TangoProxyServlet</servlet-name>
    </filter-mapping>
    
    <servlet>
        <description>Servlet stub for TangoTest</description>
        <display-name>TangoProxyServlet</display-name>
        <servlet-name>TangoProxyServlet</servlet-name>
        <servlet-class>hzg.wpn.mtango.TangoProxyServlet</servlet-class>
    </servlet>

    <welcome-file-list>
        <welcome-file>www/apps/mTangoTest/index.html</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>TangoProxyServlet</servlet-name>
        <url-pattern>/tango</url-pattern>
    </servlet-mapping>
</web-app>
